body{
	margin:0;
	padding:0;
	text-align:center;
}

.body-header {
	width:100%;
	color:white;
	
	background-color:#005542;
	margin:0;
	padding-bottom:8%;
	padding-top:4%;
	position:relative;
	
}

h1 {
	margin:0;
	margin-left:35%;
	margin-right:35%;
	padding-top:3%;	
	position:relative;
}

.first-row {
	margin-top:5%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:10%;
	
}

.list-header {
	margin-top:-5%;
	margin-bottom:2%;
}

.list-group {
	display:inline-block;
	
}

.turkey-left {
	position:absolute;
	display:inline-block;
	left:10%;
	top:25%;
	border-radius:100%;
	transition:.5s;
	height:50%;
	width:10%;
}

.turkey-right {
	position:absolute;
	
	right:10%;
	top:25%;
	border-radius:100%;
	transition:.5s;
	height:50%;
	width:10%;
}

.turkey-left:hover {
	border-radius:0%;
}

.turkey-right:hover {
	border-radius:0%;
}

.footer {
	width:100%;
	height:3%;
	background-color:#005542;
	position:fixed;
	bottom:0;
	
	color:white;
	text-align:left;
	
}

li{
	transition:.3s;
}

li:hover{
	background-color:#005542;
	font-size:20px;
	color:white;
}




